 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles



#background {
  height: 600px;
  // background-color: #3d5c6f;
  background: url(../images/background8.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  &.no-bg {
    background: none;
  }
  header {
    width: 100%;
    text-align: center;
    margin: 0px;
    height: 100px;
    // background-color: rgba(255, 255, 255, .5);
    border: solid 1px blue;
  }
  h1 {
    color: #ff6c00;
    font-size: 40px;
    margin-top: 90px;
  }
}

#blog_container {
  @include outer-container;
  #main {
    @include span-columns(10);
    @include shift(1);
    // border: solid 1px red;
    #post_container {
      height: 360px;
      // border: solid 1px red;
      #post_top {
        @include span-columns(12);
        height: 75px;
        // background-color: #339a63;
        background-color:#a0b0c1;
        #title {
          @include span-columns(6);
          height: 65px; 
          float: left;
          margin-top: 5px;
          margin-left: 5px;
          #input_title {
            height: 40px;
            width: 100%;
          }
        }
        #author {
          @include span-columns(3);
          height: 65px; 
          float: right;
          margin-right: 5px;
          margin-top: 5px;
          #input_author {
            height: 40px;
            width: 100%;
          }
        }
      }
      #post_mid {
        @include span-columns(12);
        height: 200px;
        #input_post {
            height: 200px;
            width: 100%;
        }
      }
      #post_bottom {
        @include span-columns(12);
        height: 85px;
        background-color:#a0b0c1;
        #tags {
          @include span-columns(8);
          margin-top: 15px;
          height: 65px; 
          float: left;
          margin-left: 5px;
          #input_tags {
            height: 40px;
            width: 100%;
          }
        }
        #create {
          @include span-columns(2);
          margin-top: 15px;
          height: 65px; 
          float: right;
          text-align: center;
          #create_button {
            @include button(pill);
          }
        }
      }
    }
  }
  #post_feed_container {
  // border: solid 1px red;
    ul {
      list-style: none;
      padding-left: 0px;
      .title_container {
        @include span-columns(12);
        height: 80px; 
        border-top: solid 1px grey;
        li {
           text-align: center;
          a {
            color: #ff6c00;
            text-decoration: none;
            font-size: 40px;
          }
        }
      }
    }
  }
  #full_posts_container {
    ul {
      list-style: none; 
      padding-left: 0px;
      .post_info {
        @include span-columns(12);
        border: solid 1px blue;
        font-size: 20px;
        font-family: Georgia;
        .post_info_left {
          @include span-columns(10);
          li {
            display: inline;
          }
        }
        .post_info_right {
          @include span-columns(2);
          text-align: right;
          // li {
          //   .delete {
          //     // @include button(pill);
          //   }
          //   .fa-home {
          //   }
          // }
        }
      }
      .post_and_title {
        @include span-columns(12);
        border: solid 1px blue;
        margin-top: 40px;
        .title {
          font-size: 55px; 
          font-weight: bold; 
          font-family: Veranda;
        }
        .date {
          font-family: Georgia; 
          font-size: 20px;
          color: light-grey;
          margin-top: 20px;
        }
        .content {
          margin-top: 20px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 150px;
  // background-color: #42a2ce;
  background-color: #555555;
  color: white;
  text-align: center;
  margin: 0px;
  .style {
    height: 25px; 
    width: 100%;
    background-color: #99cfa9;
    border-bottom: solid 2px #ff6c00;
  }
}